
  /* Typewriter effect 1 */
  @keyframes typing {
	0.0000%, 27.3488% { content: ""; }
	1.1395%, 26.2093% { content: "C"; }
	2.2791%, 25.0698% { content: "CS"; }
	3.4186%, 23.9302% { content: "CS "; }
	4.5581%, 22.7907% { content: "CS E"; }
	5.6977%, 21.6512% { content: "CS En"; }
	6.8372%, 20.5116% { content: "CS Eng"; }
	7.9767%, 19.3721% { content: "CS Engi"; }
	9.1163%, 18.2326% { content: "CS Engine"; }
	10.2558%, 17.0930% { content: "CS Enginee"; }
	11.3558%, 16.0930% { content: "CS Engineer"; }
  
	30.7674%, 61.2791% { content: ""; }
	31.9070%, 60.1395% { content: "W"; }
	33.0465%, 59.0000% { content: "We"; }
	34.1860%, 58.8605% { content: "Web"; }
	35.3256%, 57.7209% { content: "Web "; }
	36.4651%, 56.5814% { content: "Web D"; }
	37.6047%, 55.4419% { content: "Web De"; }
	38.7047%, 54.2419% { content: "Web Dev"; }
	39.7674%, 53.7209% { content: "Web Deve"; }
	40.9070%, 52.5814% { content: "Web Devel"; }
	42.0465%, 51.4419% { content: "Web Develo"; }
	43.1860%, 50.3023% { content: "Web Develop"; }
	44.3256%, 49.1628% { content: "Web Develope"; }
	45.3256%, 48.1628% { content: "Web Developer"; }
  
	64.6977%, 95.2093% { content: ""; }
	65.8372%, 94.0698% { content: "l"; }
	66.9767%, 92.9302% { content: "le"; }
	68.1163%, 91.7907% { content: "lea"; }
	69.2558%, 90.6512% { content: "lear"; }
	70.3953%, 89.5116% { content: "learn"; }
	71.5349%, 88.3721% { content: "learne"; }
	72.6279%, 87.2419% { content: "learner"; }
	73.7674%, 86.1209% { content: "learner."; }
	/* 80.9070%, 94.5814% { content: "hu"; }
	82.0465%, 93.4419% { content: "hum"; }
	83.1860%, 92.3023% { content: "huma"; }
	84.3256%, 91.1628% { content: "human"; } */
  }
  
  @keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
  }
  
  .typewriter {
	--caret: currentcolor;
  }
  
  .typewriter::before {
	content: "";
	animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
	content: "";
	border-right: 1px solid var(--caret);
	animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
	border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
	border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
	.typewriter::after {
	  animation: none;
	}
	
	@keyframes sequencePopup {
	  0%, 100% { content: "developer"; }
	  25% { content: "writer"; }
	  50% { content: "reader"; }
	  75% { content: "human"; }
	}
  
	.typewriter::before {
	  content: "developer";
	  animation: sequencePopup 12s linear infinite;
	}
  }


  /*top button*/
  html {
    scroll-behavior: smooth;
}
  .top-btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: gray;
	color: darkgray;
	text-decoration: none;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  .top-btn:hover {
	background-color: white;
  }
